.place__image {
  max-width: 460px;
  object-fit: cover;
  padding: 48px 0 0 0;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 966px) {
  .place__image {
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 850px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 670px) {
  .place__image {
    max-width: 320px;
    margin: 0 auto;
    padding: 32px 0 0 0;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}
