.place__image {
  max-width: 460px;
  object-fit: cover;
  padding: 48px auto 0 auto;
  grid-row-start: 2;
  grid-row-end: 5;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 966px) {
  .place__image {
    grid-row-end: 4;
  }
}

@media screen and (max-width: 850px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 670px) {
  .place__image {
    padding: 32px 12px 0 12px;
    max-width: 320px;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
}
