.cover {
  max-width: 1184px;
  max-height: 740px;
  margin: 77px auto 92px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




@media screen and (max-width: 320px) {
  .cover {
  margin: 0;
  }
}