.intro__centr{
  padding-top: 100px;
max-width: 690px;

}


@media screen and (max-width: 1024px) {
  .intro__centr {
    padding: 9% 0 9% 5%;
  }
}

@media screen and (max-width: 768px) {
  .intro__centr {
    max-width: 720px;
    padding: 13% 24px 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro__centr {
    padding: 64px 16px 34px 16px;
    max-width: 288px;
    min-height: 754px;
  }
}
