.lead__capiton {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0 0 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .lead__capiton {
    margin-left: 4.5%;
  }
}
