.lead__road {
  position: absolute;
  top: 45%;
  width: 95%;
  /* object-fit: contain; */
}

@media screen and (max-width: 1024px) {
  .lead__road {
    top: 45%;
    max-width: 884px;
    /* max-height: 248px; */
  }
}

@media screen and (max-width: 768px) {
  .lead__road {
    top: 50%;
    max-width: 731px;
    /* max-height: 202px; */
  }
}

@media screen and (max-width: 320px) {
  .lead__road {
    top: 53%;
    max-width: 304px;
    /* max-height: 85px; */
  }
}
