.place {
    min-width: 320px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-column-gap: 40px;
    padding: 0 0 80px 112px;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-column-gap: 32px;
        padding: 0 48px 80px 48px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-column-gap: 28px;
        padding: 0 24px 73px 24px;
    }
}

@media screen and (max-width: 670px) {
    .place {
        padding: 0 0 88px 0;
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content);
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding: 0 0 66px 0;
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content);
    }
}