.place {
  min-width: 320px;
  max-width: 990px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-column-gap: 40px;
  margin: 0 auto 0 auto;
  padding-bottom: 80px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-column-gap: 32px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-column-gap: 28px;
    padding-bottom: 73px;
}
}

@media screen and (max-width: 670px) {
  .place {
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-bottom: 64px;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: mminmax(min-content, max-content);
  }
}
