.place__website {
  align-self: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
  transition-duration: 0.5s;
}

.place__website:hover {
  opacity: 20%;
}

@media screen and (max-width: 600px) {
  .place__website {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: 0 16px 32px 16px;
    padding: 0;
  }
}
